img{
    margin: 20px;
    height: 150px;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-radius: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover{background-color: #ffffe6}

.table{
    overflow-x:auto;

}

