/*@import "compass/css3";*/

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  margin: 15px;
}

.col{
  border: 1px solid #e7e7e7;
  width: 100%;
}

#left,#left2,#left3,#left4,#left5 {
  background: #f8f8f8;
}

#right,#right2,#right3,#right4,#right5 {
  background: #f1f1f1;
}

@media all and (min-width: 800px) {
  .col{
    /*min-width: 40%;
    width: 46%;*/
  }
  #left,#right {
    flex: 1 auto;
  }
  #left2,#right2 {
    flex: 2 auto;
  }
  #left3,#right3 {
    flex: 3 auto;
  }
  #left4,#right4 {
    flex: 4 auto;
  }
  #left5,#right5 {
    flex: 5 auto;
  }
}
